@mixin centerXY-absolute {
  position: absolute;
  // Center horizontally
  left: 50%;
  // Center vertically
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin centerY-absolute {
  position: absolute;
  // Center vertically
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin ie-flex-basis($start: 1, $imgNo: 50, $flex-basis: 100px) {
  @for $i from $start through $imgNo {
    > *:nth-child(#{$i}) {
      flex-basis: $flex-basis;
      padding: 5px;
    }
  }
}
