.c-thumbnail {
  display: block;

  &__backdrop {
    background: $light-grey;
  }

  &__caption {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: dotted 3px $blue;
  }

  &.is-selected {
    outline: 3px solid $blue;
  }
}
