.c-thumbnail {
  display: block;
  // fixme:
  padding: 5px;

  &__backdrop {
    background: $light-grey;
  }

  &__caption {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-selected {
    outline: 3px solid $blue;
  }
}
