.c-thumbnail {
  display: block;

  &__backdrop {
    background: $light-grey;
  }

  &__caption {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-selected {
    // outline: 3px solid rgb(255, 217, 0);
    border: 3px solid rgb(255, 217, 0);
  }

  &:focus {
    outline: dotted 3px $blue;
    outline-offset: 3px;
  }
}
